!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}/

    %title David Oversby-Powell
    
    %meta{:name => "description", :content => "David Oversby-Powell — Music Producer, Mixer & Engineer"}
    %meta{:property => "og:title", :content => "David Oversby-Powell"}
    %meta{:property => "og:type", :content => "music"}
    %meta{:property => "og:image", :content => "http://cdn.discogs.com/L29h9QdV8STRdA1H2kLfQHIcWuQ=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb()/discogs-images/A-1701159-1405263659-1394.jpeg.jpg"}
    %meta{:property => "og:url", :content => "http://www.davidoversbypowell.com"}
    %meta{:property => "og:description", :content => "David Oversby-Powell — Music Producer, Mixer & Engineer"}

    %link{:href => 'images/favicon.ico', :rel => 'shortcut icon'}/

    = javascript_include_tag "app"
    = javascript_include_tag "http://connect.soundcloud.com/sdk.js"
    = stylesheet_link_tag "app"

  %body{class: page_classes}

    = yield