.play-overlay.js-player-overlay
  .h-table
    .h-table-cell
      %h1.js-play-text.js-stop-track Loading...

%main.container.is-intro
  
  %header.page-header
    .span-col-4.align-bottom
      %h1.main-title David Oversby-Powell
    .span-col-4.copy.align-bottom.hide-for-intro
      =mail_to "contact@davidoversbypowell.com"
    .span-col-4.copy.align-bottom.hide-for-intro
      +44 (0)7545 128 989

  %section.page-wrapper.hide-for-intro
    .span-col-4
      %p David Oversby-Powell is a music producer & engineer based in London, who graduated from SAE in 2007. He has had 7 years of experience, starting from an early age, and has been mentored by Mandy Parnell (Bjork, The xx, Feist).

      %p David's philosophy is to treat each piece of music as a distinct and unique piece of art. Music is a powerful form of expression, and so his aim is to allow the listener to feel and understand the emotional concept behind the work. To do this you must be able to collaborate with the artist, and fully realise the ideas behind their work.

      %p 
        David works with a broad range of equipment. For a full list click here.

    .span-col-8
      %ul.tracklist.display
        - data.content.tracks.each do |f|
          - if f.track
            %li.tracklist--item.can-play.js-load-track{:data => {'track' => f.track, 'track-title' => f.text}}
              %span.year=f.year
              %span.track-title=f.text
              %span.credit=f.credit
              %span.fa.fa-play-circle.play-btn
          - else
            %li.tracklist--item
              %span.year=f.year
              %span.track-title=f.text
              %span.credit=f.credit


