%main.container
  
  %header.page-header
    .span-col-4.align-bottom
      %h1 David Oversby-Powell
    .span-col-4.copy.align-bottom
      =mail_to "contact@davidoversbypowell.com"
    .span-col-4.copy.align-bottom
      +44 (0)7545 128 989

  %section.page-wrapper
    .span-col-4
      %p The Blind Leading the Blind is a painting of 1568 by Flemish renaissance artist Pieter Bruegel the Elder. Executed in distemper on linen canvas, it measures 86 cm × 154 cm (34 in × 61 in). It depicts the Biblical parable of the blind leading the blind from Matthew 15:14. Considered a masterwork for its composition and accurate detail, the painting (detail pictured) reflects Bruegel's mastery of observation: each figure has a different recognizable eye affliction, including corneal leukoma, atrophy of globe and removed eyes. The diagonal composition reinforces the off-kilter motion of the six figures falling in progression. It was painted the year before Bruegel's death, and has a bitter, sorrowful tone. This may be related to the establishment of the Council of Troubles in 1567 by the government of the Spanish Netherlands, which ordered mass arrests and executions to enforce Spanish rule and suppress Protestantism, but it is not clear if the painting was meant as a political statement

    .span-col-8
      %ul.tracklist.display
        - data.content.tracks.each do |f|
          %li.tracklist--item
            %span.year=f.year
            %span.track-title=f.text
            %span.credit=f.credit
            - if f.track
              %span.fa.fa-play-circle.play-btn


