%main.container
  
  %header.page-header
    .span-col-4
      %h1 David Oversby-Powell
    .span-col-4
      =mail_to "contact@davidoversbypowell.com"
    .span-col-4
      +44 (0)7545 128 989

  %section.page-wrapper
    %p Stuff here