.play-overlay.js-player-overlay
  %span.close-btn.js-stop-track &times;
  .h-table
    .h-table-cell
      %h1.js-play-text Loading...

%main.container.is-intro
  
  %header.page-header
    .span-col-4.align-bottom
      %h1.main-title David Oversby-Powell
    .span-col-4.copy.align-bottom.hide-for-intro
      =mail_to "contact@davidoversbypowell.com"
    .span-col-4.copy.align-bottom.hide-for-intro
      +44 (0)7545 128 989

  %section.page-wrapper.hide-for-intro
    .span-col-4
      %p David Oversby-Powell is a Producer & Mixer based in London. He has over 7 years of experience and has worked with many artists (Fyfe, Brontide) having started a studio at the age of 17. Over the years David has been mentored by Mandy Parnell (Björk, The XX) and has been exposed to recording a vast variety of different styles of music.

      %p David’s philosophy is to treat each piece of music as a distinct and unique piece of art. Music is a powerful form of expression, and so his aim is to allow the listener to feel and understand the emotional concept behind the work. He places great emphasis on fully understanding the artist’s vision and applies this by keeping the results true to the original idea.

    .span-col-8
      %ul.tracklist.display
        - data.content.tracks.each do |f|
          - if f.track
            %li.tracklist--item.can-play.js-load-track{:data => {'track' => f.track, 'track-title' => f.text}}
              %span.year=f.year
              %span.track-title=f.text
              %span.credit=f.credit
              %span.fa.fa-play-circle.play-btn
          - else
            %li.tracklist--item
              %span.year=f.year
              %span.track-title=f.text
              %span.credit=f.credit


