// Layout styles

.container {
  position: relative;
  width: 100%;
  height: auto;
}

.page-header {
  display: block;
  width: 100%;
  padding: 2em 0 4em;
}

// Grid

%span-col {
  display: inline-block;
  vertical-align: top;
  padding: 0 2%;
}

.span-col-4 {
  @extend %span-col;
  width: 33%;
}

.span-col-8 {
  @extend %span-col;
  width: 66%;
}

.align-bottom {
  vertical-align: bottom;
}

// Track list

.can-play {
  cursor: pointer;
  &:hover {
    .play-btn {
      color: $red;
    }
  }
}

// Play overlay

.play-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 2;
  display: none;
  @include opacity(0);
  @include background(linear-gradient(left top, #fc0000 0%,#0004ff 100%));
  h1 {
    color: white;
    cursor: pointer;
  }
}