@import "bourbon";
@import 'neat';

// Layout styles

.container {
  position: relative;
  width: 100%;
  height: auto;
}

.page-header {
  display: block;
  width: 100%;
  padding: 2em 0;
}

// Grid

%span-col {
  display: inline-block;
  vertical-align: top;
  padding: 0 2%;
}

.span-col-4 {
  @extend %span-col;
  width: 33%;
}

.span-col-8 {
  @extend %span-col;
  width: 66%;
}

